python-telegram-bot==21.0.1
beautifulsoup4
google-genai
httpx
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-google-genai
langchain-huggingface
langchain-core
langchain-text-splitters
ddgs
Pillow
pymupdf
python-dotenv